.nav-wrapper .name {
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-size: 24px;
}

.projects p {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

.about p {
  /*font-family: 'Alegreya Sans', sans-serif;*/
  font-family: 'Fira Sans', sans-serif;
  font-weight: bolder;
  font-size: 34px;
}

h1 {
  font-family: 'Alegreya Sans', sans-serif;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  color: white;
}

nav {
  background-color: white;
  box-shadow: none;
}

.nav-wrapper a {
  color: #333;
  font-family: 'Alegreya Sans', sans-serif;
}

.btn-floating {
  background-color: #F4F4F4;
  margin-right: 6px;
}

.git {
  max-width: 54%;
  position: relative;
  top: 7px;
  left: 8px;
}

.domus {
  background: #EE7073;
  padding-top: 40px;
  padding-bottom: 40px;
}

.dss {
  background: #80B1CC;
  padding-top: 40px;
  padding-bottom: 40px;
}

.dss h2 {
  padding-bottom: 40px;
}

.uclhub {
  background: #25A3D6;
  padding-top: 40px;
  padding-bottom: 40px;
}

.chip {
  margin-top: 6px;
}

footer.page-footer {
  margin-top: 0px;
}
