body {
  background: #ededed;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  color: white;
  text-align: center;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 5px;
  background: white;
  text-align: center;
}

.header h1 {
  margin: 0px;
  font-size: 24px;
  font-weight: bolder;
  text-transform: uppercase;
}

.header p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.link-header {
  color: white;
}

.link-header:hover {
  text-decoration: underline;
}

.btn-floating {
  background-color: #F4F4F4;
  margin-right: 10px;
}

.icn {
  max-width: 54%;
  position: relative;
  top: 7px;
}

.header .btn {
  background-color: #F4F4F4;
  color: #333;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 16px;
}


/* Projects */

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  min-width: 400px;
  width: 40vw;
  text-align: center;
  min-height: 20vw;
  color: white;
}

.project .card .card-title {
  font-weight: bold;
  font-size: 2em;
}

.project a {
  color: inherit;
}

.card h3 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}


/* Skills */
.skills {
  padding-bottom: 40px;
  margin: 0 auto;
}

.skills h1 {
  margin-bottom: 40px;
}

/* Work */
.work svg {
  display: block;
  margin: 0 auto;
}

/* Interests */
.interests svg {
  display: block;
  margin: 0 auto;
}


/* Footer */

footer.page-footer {
  margin-top: 0px;
  background: none;
  text-align: center;
  padding-bottom: 20px;
}

footer p {
  color: #9e9e9e;
  font-size: 16px;
}
